{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}パスワードのリセット{% endblock %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">ホーム</a></li>
            <li class="breadcrumb-item active" aria-current="page">パスワードのリセット</li>
        </ol>
    </nav>
{% endblock %}

{% block main_content %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 fw-normal">パスワードのリセット</h4>
            </div>
            <div class="card-body">
                <p>
                    パスワード初期化用のメールを送信しました。<br>
                    メールに記載されているURLをクリックしてパスワードをリセットしてください。<br>
                </p>
                <p>
                    メールが届かない場合は、入力したメールアドレスが正しいか確認してください。<br>
                    また、迷惑メールフォルダに入っていないかも確認してください。<br>
                </p>
            </div>
            <div class="card-fotter text-muted text-center">
                <a href="{% url 'home' %}">ホームに戻る</a>
            </div>
        </div>
    </div>
{% endblock %}

