{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}パスワードの変更{% endblock %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">ホーム</a></li>
            <li class="breadcrumb-item active" aria-current="page">パスワードの変更</li>
        </ol>
    </nav>
{% endblock %}

{% block main_content %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 fw-normal">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h4>
            </div>
            <div class="card-body">
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary btn-block">パスワードを変更</button>
                    </form>
                {% endif %}
            </div>
            <div class="card-fotter text-muted text-center">
                <a href="{% url 'home' %}">ホームに戻る</a>
            </div>
        </div>
    </div>
{% endblock %}
