{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}パスワードのリセット{% endblock %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">ホーム</a></li>
            <li class="breadcrumb-item active" aria-current="page">パスワードのリセット</li>
        </ol>
    </nav>
{% endblock %}

{% block main_content %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 fw-normal">パスワードのリセット</h4>
            </div>
            <div class="card-body">
                <p>
                    パスワードをお忘れの場合は、以下のフォームからパスワードをリセットできます。<br>
                </p>
                <p>
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary btn-block">パスワードをリセットする</button>
                    </form>
                </p>
                <p>パスワードの再設定に問題がある場合はご連絡ください。</p>
            </div>
            <div class="card-fotter text-muted text-center">
                <a href="{% url 'account_login' %}">ログインする</a>
            </div>
        </div>
    </div>
{% endblock %}