# Byte-compiled / optimized / DLL files
__pycache__/


# macOS + PyCharm
.DS_Store
.idea/

#vscode
.vscode/

# Environments
.env
venv/

#db
*.sqlite3

config/settings.py

#media files
media_root/
media_root_test/
